/*Reset & Common Code Starts Here*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;900&family=Roboto:wght@100;300;400;500;700;900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #0062ff;
  --secondary-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #ffffff;
  --heading-color: #000a19;
  --paragraph-color: #504e4d;
  --transition: all 0.3s linear;
  --box-shadow: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
}

p,
li {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 0.1rem;
}
/*Reset & Common Code Starts Here*/

/* Nav Starts Here */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2vw 4vw;
}

.nav-logo h1 {
  text-transform: uppercase;
  font-size: 1.5vw;
  padding: 0.1vw 0.4vw;
  font-weight: 700;
  border: 2px solid black;
  cursor: pointer;
}

ul {
    margin-right: -4vw;
}

.nav-container .nav-list {
  list-style-type: none;
}

.nav-container .nav-list .nav-link {
  font-size: 1vw;
  text-decoration: none;
  font-weight: 700;
  color: var(--heading-color);
  margin: 1vw;
  position: relative;
  text-transform: uppercase;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2vw;
  border-bottom: 2px solid var(--primary-color);
  width: 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.nav-link:hover::after {
  width: 100%;
}
/* Nav Ends Here */

/* Main Section Starts Here */
.main-section {
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #ebf3fe
  );
  height: 40vw;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vw 4vw;
}

.main-section-left {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-para {
  font-size: 1.3vw;
  font-weight: 700;
  color: #01245e;
  text-transform: uppercase;
}

.main-heading {
  font-size: 4.2vw;
  color: #003b99;
  margin: 0.6vw 0;
  font-family: "Urbanist", sans-serif;
  font-weight: 900;
}

.main-section-left .main-sub-heading {
  color: white;
  font-size: 1.1vw;
  line-height: 1.5;
}

.learn-btn {
  padding: 0.7rem 1.8rem;
  background-color: #0062ff;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  border: none;
  margin: 2vw 0;
  font-size: 1.3vw;
  font-weight: 500;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.learn-btn a {
  text-decoration: none;
  color: white;
}

.learn-btn:hover {
  background-color: #022b6e;
  cursor: pointer;
}

.main-section-right {
  width: 50%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.main-section-right img {
  margin-left: 5vw;
  width: 35vw;
  height: auto;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX();
}

.custom-shape-divider-bottom-1732026148 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1732026148 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }
  
  .custom-shape-divider-bottom-1732026148 .shape-fill {
    fill: #ffffff;
  }
/* Main Section Ends Here */

/* Section One Starts Here */
.section-content {
    margin: 4vw 4vw;
}

.section-content-heading {
    font-size: 2.2vw;
    font-weight: 600;
}

.section-content-subheading {
    font-size: 1.2vw;
}

.section-one-grid-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 3vw;
    gap: 11vw;
    margin: 7vw 0 18vw;
}

.section-one-research {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-one-image {
    background-color: #ebf3fe;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.section-one-research img {
    width: 7vw;
    height: auto;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.section-one-image:hover img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.section-one-image:hover {
    background: linear-gradient(to right, #0575e6, #021b79) ;
}

.research-head {
    margin: 1.2vw 0vw 0.4vw;
}

.research-para {
    color: rgb(61, 60, 60);
    letter-spacing: 0.1vw;
    line-height: 1.4;
}
/* Section One Ends Here */

/* Section Two Starts Here */
.section-two {
  min-height: 75vw;
  width: 100%;
  padding: 4vw;
  background-color: #F7FCFF;
  box-shadow: 0px 0px 2px rgb(163, 158, 158);
}

.section-two-grid-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  padding: 5vw 0vw;
}

.section-two-research {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw 2.2vw;
}

.section-two-research:hover {
  box-shadow: 0px 0px 10px rgb(199, 199, 199);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.section-two-image i {
  font-size: 3vw;
}

.section-two-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 6vw;
  background-color: #EBF3FE;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.i1 {
  color: #FF9B50;
}

.i2 {
  color: #1450A3;
}
.i3 {
  color: #68BF9B;
}
.i4 {
  color: #ffd900;
}
.i5 {
  color: #1d52a1;
}
.i6 {
  color: #183D3D;
}
.i7 {
  color: #68BF9B;
}

.i8 {
  color: #FF8B52;
}
/* Section One Ends Here */

/* Why Choose Section Starts Here */
.why-choose-section {
  min-height: 85vw;
  width: 100%;
  padding: 4vw;
}

.why-choose-grid-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 7vw 0;
  gap: 5vw;
}

.grid-one {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.grid-one-first {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
  gap: 1vw;
}

.grid-one-first h4 {
  font-size: 1.3vw;
  font-weight: 600;
}

.grid-one-first p:nth-child(3) {
  font-size: 1.2vw;
  line-height: 1.4;
  color: var(--font-color);
}

.icon-design {
  background-color: #EBF3FE;
  color: #0062ff;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-size: 2vw;
}

.grid-two {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid-two-img {
  width: 30vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.grid-two::after {
  content: "";
  background-color: #75AAFF;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.grid-two::before {
  content: "";
  border: 5px solid #e5eefc;
  width: 38vw;
  height: 38vw;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.grid-three {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.grid-three-first {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1vw;
}

.grid-three-first h4 {
  font-size: 1.3vw;
  font-weight: 600;
}

.grid-three-first p:nth-child(3) {
  font-size: 1.2vw;
  line-height: 1.4;
  color: var(--font-color);
}
/* Why Choose Section Ends Here */

/* Blog Section Starts Here */
.blog-page-section {
  padding: 4vw 0 0;
  min-height: 60vw;
  width: 100%;
  background-color: #F7FCFF;
  box-shadow: 0px 0px 2px rgb(197, 189, 189);
}

.blog-page {
  padding: 2vw 4vw;
}

.blog-section-grid-four {
  display: flex;
  justify-content: space-between;
}

.blog-section {
  width: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid rgb(235, 223, 223);
  padding: 1vw;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.blog-section:hover {
  box-shadow: 0 0 10px #b8b8b8;
}


.blog-date {
  padding: 1.5vw 0.1vw 0.1vw;
  font-size: 1.1vw;
}

.blog-head {
  padding: 1vw 0.1vw;
  text-transform: capitalize;
}

.blog-image img{
  width: 100%;
  border-radius: 5px;
}
/* Blog Section Ends Here */

/* Contact Page Starts Here */
.contact_page {
  padding: 4vw;
  display: flex;
  justify-content: space-between;
}

.contact_page_form label {
  font-size: 1.2vw;
  color: var(--font-color);
}

.contact_page_form input {
  width: 42vw;
  height: 3vw;
  margin: 0.2vw 0 1vw;
  padding: 0.5vw;
  border-radius: 5px;
  border: none;
  outline: none;
  border: 1px solid rgb(187, 187, 187);
}

.contact_page_form textarea {
  width: 42vw;
  height: 10vw;
  margin: 0.2vw 0 1vw;
  padding: 0.5vw;
  border-radius: 5px;
  border: none;
  border: 1px solid gray;
}

.contact_page_form button {
  font-size: 1.2vw;
  font-weight: 600;
  padding: 0.8vw 2vw;
  background-color: #0062ff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: var(--transition);
}

.contact_page_form button:hover {
  background-color: #003B99;
}

::placeholder {
  font-size: 1.1vw;
  color: var(--paragraph-color);
  /* padding: 0.5vw; */
  cursor: pointer;
}
/* Contact Page Ends Here */

/* Footer Section Starts Here */
.footer_contact_page {
    width: 65%;
    min-height: 20vh;
    margin: -10vw auto;
    background-color: #FDFDFD;
    border-radius: 10px;
    position: relative;
    z-index: 9;
    box-shadow: 0 0 2px rgb(160, 157, 157);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    padding: 4vw 2vw;
}

.footer_contact_page_left {
  width: 100%;
}

.footer_contact_page_left p {
  padding: 1vw 0 1.4vw;
  color: var(--paragraph-color);
}

.footer_contact_page_left button {
  padding: 0.8vw 3.5vw;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  transition: var(--transition);
}

.footer_contact_page_left button:hover {
  background-color: #022b6e;
}

.footer_contact_page_left a {
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
}

.fa-arrow-right {
  margin-left: 0.6vw;
}

.footer_contact_page_right {
  width: 100%;
  margin-left: 2.4vw;
}

.footer_contact_page_right img {
  width: 24vw;
}

.footer-section {
  width: 100%;
  min-height: 25vw;
  background-color: #040D12;
  padding: 4vw 4vw 0;
}

.footer-grid-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.4vw;
}

.footer-section-one {
  width: 20vw;
  height: 20vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;
  margin-top: 4vw;
}

.footer-icon {
  display: flex;
  align-items: center;
  gap: 1vw;
  transition: all 0.3s linear;
}

.footer-icon i:hover {
  transform: rotate(360deg);
  background-color: #003B99;
  color: #EBF3FE;
}

.fa-discord {
  font-size: 1.7vw;
  background-color: #EBF3FE;
  color: #003B99;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
}

.fa-square-github {
  font-size: 1.7vw;
  background-color: #EBF3FE;
  color: #003B99;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
}

.fa-youtube {
  font-size: 1.7vw;
  background-color: #EBF3FE;
  color: #003B99;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
}

.fa-square-instagram{
  font-size: 1.7vw;
  background-color: #EBF3FE;
  color: #003B99;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
}

.footer-section-two {
  width: 20vw;
  height: 20vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.footer-section-two .footer-para {
  position: absolute;
  top: 11vw;
  right: 6vw;
  text-align: left;
}

.footer-section-three {
  width: 20vw;
  height: 20vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.footer-section-three .footer-para {
  position: absolute;
  top: 11vw;
  right: 7.6vw;
  text-align: left;
}

.footer-section-four {
  width: 20vw;
  height: 20vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: relative;
}

.footer-para {
  position: absolute;
  top: 11vw;
  right: 8.4vw;
  text-align: left;
  line-height: 1.4;
}
/* Footer Section Ends Here */